@import "../../vars.css";


.container {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align title and timeline */
    margin: 0;
    padding-top: 50px;
    z-index: 1;
    background-color: rgb(255, 182, 240);
    padding-bottom: 4%;
}

.title {
    margin-top: 1%;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px; /* Adds space between the title and timeline */
}

.projects {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
}