@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #3E193A 0%, #5C2A54 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
    min-height: 485px; /* Set a consistent height */
    align-items: center;
    position: relative; /* Required for positioning the GitHub logo */
}

.image {
    margin-bottom: 18px;
}

.title {
    font-size: 23px;
    font-weight: 700;
    color: white; 
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif; /* Use Work Sans */
}

.description {
    margin: 0; /* Completely removes default margins */
    padding: 10px 10px 10px; /* Add padding on sides, but no bottom padding */
    font-weight: 400;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif; /* Use Work Sans */
    color: white; 
    text-align: justify; /* Justifies the text */
    text-align-last: center; /* Centers the last line */
    line-height: 1.2; /* Reduce line spacing to make text more compact */
}

.skills {
    width: 100%;
    margin: 15px 0 30px; /* Tighten space above skills to just 2px */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px; /* Space between individual skill items */
    list-style: none;
    justify-content: center; /* Centers the skills horizontally */
    align-items: center; /* Centers the skills vertically */
}




.skill {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif; /* Use Work Sans */
    font-weight: 400;
    border-radius: 100px;
    background: #D4B8D2;
    padding: 2px 22px;
}

.githubLogoContainer {
    position: absolute; /* Ensure the GitHub logo is positioned relative to the container */
    bottom: 15px; /* Distance from the bottom */
    right: 15px; /* Distance from the right */
    display: flex;
    align-items: center;
    justify-content: center;
}

.githubLogo {
    width: 30px; /* Adjust the logo size */
    height: 30px;
    cursor: pointer; /* Makes the logo interactive */
}
