

@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Karla:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap');





  
/* App.css */
html {
    scroll-behavior: smooth;
  }

  
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; /* Keeps the margins removed */
    padding-top: 50px; /* Adds space at the top to shift elements down */
    width: 100vw; /* Ensures full viewport width */
    height: 100vh; /* Ensures full viewport height */
    overflow: hidden; /* Hides any overflowing content */
    z-index: 1;
    background-color: #efdded; /* Keeps the background color */
    box-sizing: border-box; /* Ensures padding is included in height */
}




.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    color: black;
    z-index: 1;
    text-align: center; /* Optional: Center-align text if needed */
}


.title {
    font-size: 72px;
    font-weight:600;
    margin-bottom: 33px;
    margin-left: 10%; 
    font-family: 'Poppins', sans-serif;
    color: #5C2A54; 
}


.description {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif; /* Use Work Sans */
    margin-bottom: 25px;
    margin-left: 10%; 
    line-height: 1.2; /* Adjusts line spacing */
    color: #7A607E; 
    
}

.btn {
    text-decoration: none;
    background-color: #f6f6f6;
    color: #6E8CA8; /* Text color set to black */
    border-color: #5C2A54; /* Border color */
    border-width: 3px; /* Thicker border */
    border-style: solid; /* Ensures the border is visible */
    border-radius: 100px; /* Rounded corners */
    font-size: 15px;
    font-weight: 600;
    padding: 17px 26px;
    margin-left: 10%;
}



.profileImage {
    width: 65%;
    height: auto; /* Maintain aspect ratio */
    z-index: 1;
    margin-right: 2%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* border: 5px solid black; Adds a thick black border */
}



@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: #ffeafc;
    filter: blur(100px);
    z-index: 0;
  }


  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: #ffeafc;
    filter: blur(100px);
    z-index: 0;
  }

  

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column-reverse;
    }
  
    .content {
      align-items: center;
    }
  }

  /* Highlight for "University of Waterloo" and "full-stack development" */
.description .highlightBlue {
    color: #6E8CA8; /* Blue color */
    font-weight: 900; /* Optional for emphasis */
    font-size: 22px; 

}
  
.description .highlightGreen {
    color: #789A95;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
}

      



    




