@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Karla:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap');


html {
    scroll-behavior: smooth;
  }

  
  .container {
    scroll-margin-top: 20px; /* 🪄 this is the magic line */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; 
    padding-top: 50px; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    z-index: 1;
    background-color: #efdded; 
    box-sizing: border-box; 
  }
  




.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: black;
    z-index: 1;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%; 
}


.title {
    font-size: 72px;
    font-weight:600;
    margin-bottom: 33px;
    font-family: 'Poppins', sans-serif;
    color: #5C2A54; 
}


.description {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif; 
    margin-bottom: 25px;
    line-height: 1.2;
    color: #7A607E; 
    
}

.btn {
    text-decoration: none;
    background-color: #f6f6f6;
    color: #6E8CA8; 
    border-color: #5C2A54;
    border-width: 3px;
    border-style: solid; 
    border-radius: 100px; 
    font-size: 15px;
    font-weight: 600;
    padding: 17px 26px;
}



.profileImage {
    width: 33%;
    height: auto; 
    z-index: 1;
    margin-right: 8%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 50%;
    background-color: #efdded;
    object-fit: cover;
    object-position: center 40%;
    aspect-ratio: 1/1;
    border: 8px solid #5C2A54;
}



@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: #ffeafc;
    filter: blur(100px);
    z-index: 0;
  }


  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: #ffeafc;
    filter: blur(100px);
    z-index: 0;
  }

  
.description .highlightBlue {
    color: #6E8CA8; 
    font-weight: 900; 
    font-size: 22px; 

}
  
.description .highlightGreen {
    color: #789A95;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
}


  @media screen and (max-width: 830px) {
    .container {
      scroll-margin-top: 20px;
      flex-direction: column-reverse; 
      align-items: center; 
      justify-content: center; 
      padding: 20px; 
      height: auto; 
      width: auto; 
    }
  
    .content {
      text-align: center; 
      align-items: center; 
      justify-content: center; 
    }
  
    .title {
      font-size: 36px; 
      margin-bottom: 20px; 
    }
  
    .description {
      font-size: 14px; 
      line-height: 1.5; 
      margin-bottom: 15px; 
      text-align: center;
    }
  
    .btn {
      display: block; 
      margin: 20px auto; 
      font-size: 14px; 
      padding: 12px 20px; 
    }
  
    .profileImage {
      width: 40%; 
      margin: 20px auto; 
    }

  }
  