.contactCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(180deg, #5C2A54 0%, #7A3D6E 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.contactCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

.imageContainer {
  z-index: 2;
  position: relative;
}

.profileImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: brightness(0) invert(1);
}

.profileImage:hover {
  transform: scale(1.05);
}

.infoContainer {
  text-align: center;
  z-index: 2;
  max-width: 600px;
  margin-top: 0;
}

.name {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.6;
  margin-bottom: 40px;
}

.contactInfo {
  font-size: 1rem;
}

.label {
  font-weight: bold;
  color: black;
  text-decoration: underline; 
}

.contactLinks {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.contactButton:hover {
  transform: translateY(-5px) scale(1.1);
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contactIcon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.contactButton:hover .contactIcon {
  transform: scale(1.1);
}
