.contactCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #5c2a54 0%, #937497 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.imageContainer {
  margin-bottom: 0px;
}

.profileImage {
  width: 100px;
}

.infoContainer {
  text-align: center;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

.title {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1.5rem;
}

.contactInfo {
  font-size: 1rem;
}

.label {
  font-weight: bold;
  color: black;
}

.contactLinks {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.contactButton:hover {
  transform: scale(1.1);
}

.contactIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
